<body>  
  <center>
    <div id="main">
      <p class="hello" style="padding-top: 22vh">We're Goobr.</p>
      <div id="inner">
        <p>Goobr is a web application developed at PennApps XII by four Penn Students.<br>
        Reika Yoshino, Sarah Tang, Kevin Wang, Bryan Cam.</p>
      </div>
    </div>
  </center>
</body>