<body>  
  <center>
    <div id="main">
      <div id="inner">
        <p class="hello">We're Goobr.</p>
        <iframe width="720" height="405" src="https://www.youtube.com/embed/kLoZGaGW_xw" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </center>
</body>