<body>  
  <center>
    <div id="main">
      <p class="hello" style="padding-top: 22vh">All set!</p>
      <div id="inner">
        <p>A confirmation will be sent to your email.</p>
      </div>
    </div>
  </center>
</body>