<body>
  <center>
  <div id="main">
    <p class="hello">Planner</p>
    <div id="inner" style="width:500px">
      <!-- one time -->
      <div>
      <p><b>PENNAPPS</b> | <b>Next ride: 09/06/2015</b><br><br>
      Pickup Location: 320 South 42nd Street<br>
      Destination: Wells Fargo Center<br>
      09/06/2015, arrive by 10:00AM<br>
      <font color="red">Cancel</font></p></div>

      <!-- repeating -->
      <div>
      <p><b>WORK</b> | <b>Next ride: 09/08/2015</b><br><br>
      Pickup Location: 3910 Irving Street<br>
      Destination: 30th Street Station<br>
      09/08/2015 until 12/08/2015, arrive by 8:00AM<br>
      Repeat every Monday, Wednesday, Friday<br>
      <font color="red">Cancel next ride</font> | <font color="red">Cancel all</font>
      </p></div>
      </div>
    </p>
    </div>
  </div>
  </center>
</body>